{% macro preproc() %}
# Pre-processing
{% endmacro %}

{% macro postproc() %}
# Post Processing
{% endmacro %}

{% macro clean() %}
# Clean-up
{% endmacro %}

{% macro report_pre() %}
# Prepare preliminary report
{% endmacro %}

{% macro report_post() %}
# Prepare post-run report
{% endmacro %}

