{% include "templates/header.tmpl" %} {% block user_input required %}{% endblock %}

{% block user_commands_start %}{% endblock %}

{% if input.make_project_at_runtime or input.script_type == 'makeproject'%}
{% include  make_project %}
{% if input.make_project_at_runtime %}
{% block user_commands_post_makeproject %}{% endblock %}
{% endif %}
{% endif %}

{% import "templates/components.tmpl" as components %}

{% if input.script_type == 'run' %}

{{ components.preproc() }}
{% block user_commands_pre_run %}{% endblock %}
{% if input.high_res %}
{% include "templates/run_high_res.tmpl" %}
{% else %}
{% include "templates/run_low_res.tmpl" %}
{% endif %}
{% block user_commands_post_run %}{% endblock %}
{{ components.postproc() }}
{% block user_commands_pre_clean %}{% endblock %}
{{ components.clean() }}

{% elif input.script_type == 'prerep' %}

{{ components.report_pre() }}

{% elif input.script_type == 'postrep' %}

{{ components.report_post() }}

{% endif %}
{% block user_commands_end %}{% endblock %}
