{%- extends "base.tmpl" -%}

{%- block top_level_preamble %}
{%- endblock -%}

{%- block key_settings_header %}
{%- endblock -%}

{%- block key_settings_preamble %}
{%- endblock -%}

{%- block key_settings -%}
{%- endblock -%}

{%- block other_settings_header %}
{%- endblock -%}

{%- block other_settings_preamble %}
{%- endblock -%}

{%- block other_settings -%}
{%- endblock -%}

{%- block preliminary_report -%}
# Prepare preliminary report
echo "Preliminary report not yet implemented!"
#python ${repository_path}/utils/run_utilities/prepare_report.py prelim
{%- endblock -%}
