#Run
output_hdpara_filepath=${output_directory}/
output_catchments_filepath=${output_directory}/
output_accumulated_flow_filepath=${output_directory}/
${repository_path}/Dynamic_HD_bash_scripts/generate_icon_hdpara_top_level_driver.sh ${orography_filepath} ${binary_lsmask_filepath} ${output_hdpara_filepath} ${output_catchments_filepath} ${output_accumulated_flow_filepath} ${config_filepath} ${working_directory} ${icon_grid_filepath} ${repository_path}/Dynamic_HD_Resources/cotat_plus_standard_params.nl False ${true_sinks_filepath}
