Dynamic_HD_Running_Instructions.aux
Dynamic_HD_Running_Instructions.bbl
Dynamic_HD_Running_Instructions.blg
Dynamic_HD_Running_Instructions.log
Dynamic_HD_Running_Instructions.pdf
Dynamic_HD_Running_Instructions.synctex.gz
